.card_root_layout {
    width: 100%;
    height: 100%;
    position: relative;
}

.div_basic_container {
    background-image: url('common/backgroud.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.div_progress {
    color: #9C5A3C;
    background-color: #A0C0BD;
    stroke-width: 7px;
    z-index: 0;
    margin: 10%;
    position: absolute;
}

.title_container {
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.item_title {
    font-weight: bold;
    color: #F3F6F5;
    font-size: 16px;
}

.item_content {
    color: #F3F6F5;
    font-size: 12px;
    margin-top: 2px;

}
.init{
    align-items: center;
    font-size: 16px;
    color: black;
}

