.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-30{
    margin-left: 30px;
}
.margin-left-40{
    margin-left: 40px;
}
.margin-left-50{
    margin-left: 50px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-right-30{
    margin-right: 30px;
}
.margin-right-40{
    margin-right: 40px;
}
.margin-right-50{
    margin-right: 50px;
}

.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}



.font-size-2{
    font-size: 2px;
}
.font-size-4{
    font-size: 4px;
}
.font-size-6{
    font-size: 6px;
}
.font-size-8{
    font-size: 8px;
}
.font-size-10{
    font-size: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-30{
    font-size: 30px;
}



